h1{
    background-color: yellowgreen;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color: red;
    text-transform: uppercase;
    font-size: 30px;
}
h3{
    color: red;
    text-transform: uppercase;
    font-size: 30px;
}
h4{
    color: red;
    text-transform: uppercase;
    font-size: 30px;
}
h5{
    color: red;
    text-transform: uppercase;
    font-size: 40px;
}
p{
    color: black;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
}