/* Estilos generales */
body {
  color: #000;
  background: #332F29;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#contenedor {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
}

.navegacion {
  background: #CC3910;
  padding: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #F1F2C0;
  text-decoration: none;
}

.contenido-principal {
  background: #F1F2C0;
  margin-top: 20px;
  padding: 15px;
}

aside {
  background: #CCC59E;
  padding: 10px;
}

/* Media query para pantallas menores a 800px de ancho */
@media screen and (max-width: 800px) {
  .navegacion {
      width: 100%;
      margin-bottom: 20px;
  }

  .contenido-principal {
      width: 100%;
  }

  aside {
      width: 100%;
  }
}
